<a href="https://colab.research.google.com/github/chouat2207/Python/blob/main/Python_1_1_Variables_%26_Built_in_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Type

1. Dans la cellule de code ci-dessous, quel est, pour chaque cellule, le type de chaque objet ?  
`indice`: vous pouvez utiliser `type(x)` pour le révéler.

1.1

In [ ]:
count = 5
print(type(count))

<class 'int'>

1.2

In [ ]:
greeting = "Hello World"
print(type(greeting))

<class 'str'>

1.3

In [ ]:
price = 2.5
print(type(price))

<class 'float'>

1.4

In [ ]:
color_palette = ["mintcream", "burlywood", "salmon"]
print(type(color_palette))

<class 'list'>

1.5

In [ ]:
colors = ("mintcream", "burlywood", "salmon")
print(type(colors))

<class 'tuple'>

1.6

In [ ]:
person_info = {"name": "Jules César", "Job": "Musician", "age": 55}
print(type(person_info))

<class 'dict'>

1.7

In [ ]:
is_active = True
print(type(is_active))

<class 'bool'>

2. Maintenant, vous allez devoir convertir des objets d'un certain type, en un autre type d'objet.  
C'est parti !

2.1 Convertissez count en float.

In [ ]:
count = 5
converted_count = float(count)
print(converted_count)
print(type(converted_count))

5.0
<class 'float'>

2.2 Convertissez price en int

In [ ]:
price = 5.4
converted_en_int = int(price)
print(type(converted_en_int))

<class 'int'>

2.3 Convertissez price en int

In [ ]:
price = 5.6
converted_en_int = int(price)
print(type(converted_en_int))

<class 'int'>

2.4 Que pouvez-vous remarquer ?

Réponse:

2.5 Trouvez le moyen d'arrondir temperature.

In [ ]:
temperature = 5.6
moyen_arroundi = round(temperature)
print(moyen_arroundi)
print(type(moyen_arroundi))
print(type(temperature))

6
<class 'int'>
<class 'float'>

2.6 Après avoir arrondi temperature, est-ce que c'est toujours un `float` ?  
Réponse: Oui

2.7 Ci-dessous, est-ce que height est un `int` ? Non

In [ ]:
height = 6.0
print(type(height))

<class 'float'>

2.8 Arrondissez pi avec 3 valeurs décimales.

In [ ]:
pi = 3.14159265359
arroundi_pi = round(pi,3)
arroundi_pi

3.142

# Built-in Function

3.1 Utilisez une [built-in function](https://docs.python.org/3/library/functions.html) pour compter le nombre de caractères dans l'objet de type `string` suivant:

In [ ]:
greeting = "Hello World"
len(greeting)

11

3.2 Utilisez une built-in function pour compter le nombre d'éléments dans l'objet de type `list` suivant:

In [ ]:
mixed_data = ["non", "pas", 1, "ni", 2, "ni", 3, "mais", 7.2132]
len(mixed_data)

9

3.3 Utilisez une built-in function sur une des deux variables pour que `resultat`  contienne une valeur positive.

In [ ]:
positive_number = 4
negative_number = -5
negative_number = abs(negative_number)
resultat = positive_number + negative_number
resultat

9

3.4 Utilisez une built-in function pour renvoyer la valeur minimum de la `list` suivante:

In [ ]:
values = [3.2, 41, 2, 23, 7]
min(values)

2

3.5 Utilisez une built-in function pour renvoyer la somme des valeurs de la `list` suivante:

In [ ]:
values = [3.2, 41, 2, 23, 7]
sum(values)

76.2