<a href="https://colab.research.google.com/github/chouat2207/Python/blob/main/Python_2_3_List_Introduction_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

For each cell, execute the code and answer the question before moving on to the next.

In [ ]:
names = ["Fredy", "Nicolas", "Alexandre"]

for i in enumerate(names):
  print(i)
  print(type(i))

(0, 'Fredy')
<class 'tuple'>
(1, 'Nicolas')
<class 'tuple'>
(2, 'Alexandre')
<class 'tuple'>

1. What type of object is returned as output?  
Hint: You can use `type(i)`.

*Answer*::
  **it is a  tuple**

In [ ]:
for i, val in enumerate(names):
  print(val)

Fredy
Nicolas
Alexandre

2. What does `i` correspond to?  
What does `val` correspond to?  
Why is it so?

Answer:  **i for the index and val for the values,
to determine the index at each value.**

In [ ]:
for val, i in enumerate(names):
  print(val)

0
1
2

3. This time, `i` returns first names and `val` returns numbers. Why is it so?

Answer: **val return index et i return values**

4. What does the built in function `enumerate` do?
In what cases can it be useful?

Answer: **To return l'index of values in the liste.**

# Mission 2

In [ ]:
test_list = ['Hi', 'my', 'name', 'is', "hi", "my","name", "is", "chickychicky"]

test_list[8] = "Marshall"

test_list

['Hi', 'my', 'name', 'is', 'hi', 'my', 'name', 'is', 'Marshall']

1. What does the 8 in square brackets mean?  
What action has been performed?

Answer: **8 mean l'index 8 in the liste for this example is "chickychicky",
the action is we replace "chickychicky" with "Marshall".**

In [ ]:
for i in range(4):
  print(test_list[i])

Hi
my
name
is

2. What does `range(4)` mean?  
Why are only the first 4 elements of `test_list` displayed?

Answer: **Range give us the first 4 element in the liste
because it fixed the range in first 4 so the boucle we give us only the 4 element in the liste.**

In [ ]:
for i in range(2, 8, 2):
  print(test_list[i])

name
hi
name

3. What does `range(2,8,2)` mean ?  
Why are only the elements 'name', 'hi' and 'name' displayed?

Answer: **Range (2,8,2) give us the first element of index 2 to the 8 element with 2 steps.**

# Mission 3

In [ ]:
numbers = [2,3,1,5,9]

for i in range(10,15):
  numbers.append(i)

numbers

[2, 3, 1, 5, 9, 10, 11, 12, 13, 14]

1. What does `range(10,15)` mean ?  
  What is the purpose of the method `append()` ?

Answer: **Range(10,15) means that i takes as a value from 10 to 14,
and append() that the value of i save in the liste numbers.**

2. What is the purpose of the `del` command?

Answer: **del command is to remove un element from the liste with the index.**

# Mission 4

In [ ]:
import random

random.randint(0,10)

5

1. What can the method `randint()` do ?

Answer: **Generate un ramdom number from 0 to 10.**

2. What can the method `.insert()` do ?  
You must answer using the terms 'parameter' and 'argument'.

Answer: **The insert() method inserts the specified argument at the
specified parameter.**

# Mission 5

In [ ]:
test_list = ['Hi', 'my', 'name', 'is', "hi", "my","name", "is", "chickychicky"]

test_list = " ".join(test_list)

test_list

'Hi my name is hi my name is chickychicky'

1. What can the `.join()` method do?  
What is the type of `test_list` before using `.join()`?  
What is the type of `test_list` after using `.join()`?

Answer: **The methode join() replace the liste to string of caracter,
the type of test_liste before using join() is a liste but after using join is a string.**

In [ ]:
christmas = "Noël c'est bien, mais attention à ne pas manger trop de chocolat. On le sait, mais on le fais à chaque fois. C'est la vie"

christmas.split()

['Noël',
 "c'est",
 'bien,',
 'mais',
 'attention',
 'à',
 'ne',
 'pas',
 'manger',
 'trop',
 'de',
 'chocolat.',
 'On',
 'le',
 'sait,',
 'mais',
 'on',
 'le',
 'fais',
 'à',
 'chaque',
 'fois.',
 "C'est",
 'la',
 'vie']

2. What can the `.split()` method do?  
What is the type of `christmas` before using `.split()`?  
What is the type of `christmas` after using `.split()`?

Answer: **The method split() separte the string according to the given separator in parentheses with this example the espace.
the type of christmas before split is a string but after is a liste.**

In [ ]:
christmas = "Noël c'est bien, mais attention à ne pas manger trop de chocolat. On le sait, mais on le fait à chaque fois. C'est la vie"


christmas.split("à")

3. Why does the `.split()` method split the `string` into 3 elements?

Answer: **Because there is 3 times of "à" in the string.**