<a href="https://colab.research.google.com/github/chouat2207/Python/blob/main/Python_2_7_Sets_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

There is another object type we haven't talked about: `set`  
It looks like a `dictionary`, but it's not a dictionary.

In [ ]:
my_set = {"apple", "kiwi", "pineapple"}

In [ ]:
type(my_set)

set

Question : Why isn't `my_set` an object from the `dict` class ?

Answer :

A dictionary contains pair of key:value. A set looks like a list, but with curly brackets instead of brackets

Another specificity from `set` object is that they cannot have two items with the same values.

Execute the cells below.

In [ ]:
a_set = {"banana", "lemon", "lemon", "cherry", "lemon", "strawberry", "lemon" }

In [ ]:
len(a_set)

4

Question :  

Hom many items do the sets below have ?   **the set have 4 items**

To answer, you can use your knowledge or the `len()` function.

In [ ]:
this_set = {1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9}

Question :  

Can a set contain elements with differents types ? **yes**

In [ ]:
# try to make a set with objects with different types here:
answer = {"hey", 2, True, 2.33}

Question :  

Using the list below, there is a simple way to know the amount of unique values from this list.

What is it ?

In [ ]:
# Try to count the amount of unique values from this list, in one line of code.

a_list = [1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9]
set_of_liste = set(a_list)
len(set_of_liste)

9

There are four collection data types in the Python programming language:

* `List` is a collection which is ordered and changeable. Allows duplicate members.
* `Tuple` is a collection which is ordered and unchangeable. Allows duplicate members.
* `Set` is a collection which is unordered, unchangeable, and unindexed. No duplicate members, but you can remove items and add new items.
* `Dictionary` is a collection which is ordered and changeable. No duplicate members.

Question :   
Find a way to access to the first value of `this_set`

In [ ]:
this_set = {1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9}
liste = list(this_set)
liste[0]

1

Question :  
Find a way to add a value that will be unique in `a_set`

In [ ]:
a_set.add("orange")
a_set

{'banana', 'cherry', 'lemon', 'orange', 'strawberry'}

Question :  
Now, you have to add the value from `this_set` to `a_set`:

In [ ]:
a_set.add(liste[0])
a_set

{1, 2, 'banana', 'cherry', 'lemon', 'orange', 'strawberry'}

Question :    

If you display a `set` object, it won't display with the same order you define it.

What can you say about the order the element are display ?

Answer :    **The set is a unorded collection.**

Question :   

Find a way to display the elements that exist in both sets.

In [ ]:
a_set = {"banana", "grapes", "cherry", "pineapple", "kiwi", "strawberry"}

b_set = {"lemon", "kiwi", "grapes", "blueberry", "watermelon"}

In [ ]:
a_set.intersection(b_set)

{'grapes', 'kiwi'}

There is other methods for `set` objects, that you can find [here](https://www.w3schools.com/python/python_ref_set.asp).