<a href="https://colab.research.google.com/github/chouat2207/Python/blob/main/Python_1_2_M%C3%A9thodes%2C_slicing_%26_debugging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Méthodes

## `String`

1.1 Utilisez une [méthode](https://runestone.academy/ns/books/published/py4e-int/strings/methods.html) Python qui permet de supprimer les espaces au début et à la fin du `string`suivant:

In [ ]:
greeting = " Hello  World    "
supprim_space = greeting.strip()
print(supprim_space)

Hello  World

1.2 Utilisez une méthode Python qui permet de mettre en majuscules le `string` suivant:

In [ ]:
greeting_message = "Hi Denis ! Look at me, I'm a Vampire !"
greeting_message.upper()

"HI DENIS ! LOOK AT ME, I'M A VAMPIRE !"

1.3 Remplacez les caractères "f" par "n", et "v" par "t":

In [ ]:
question = "C'est une boffe situavion scribe ?"
quext = question.replace("f", "n").replace("v", "t")
print(quext)

C'est une bonne situation scribe ?

# Slicing

2.1 Maintenant, récupérez la première lettre du `string` suivant:

In [ ]:
greeting = "Hello World"
greeting[0]

'H'

2.2 Récupérez le premier élément de la `liste` suivante:

In [ ]:
colors = ["mintcream", "burlywood", "salmon"]
colors[0]

2.3 Récupérez le premier élément du tuple suivant:

In [ ]:
color_palette = ("burlywood", "salmon", "mintcream")
color_palette[0]

'burlywood'

2.4 Récupérez le premier élément du dict suivant:

In [ ]:
person_info = {"name": "Jules César", "Job": "Musician", "age": 55}
person_info["name"]

'Jules César'


Pour un dict, on ne parle pas d'éléments, mais de clés 'keys" et valeurs "values".

2.5 Récupérez la valeur de la clé name:

In [ ]:
person_info = {"name": "Jules César", "Job": "Musician", "age": 55}
person_info["name"]

'Jules César'

2.6 Récupérez la clé associée à la première valeur:

In [ ]:
person_info = {"name": "Jules César", "Job": "Musician", "age": 55}
list(person_info.keys())[1]
# for key, value in person_info.items():
#     if value == list(person_info.values())[1]:
#         print(key)

'Job'

2.7 Maintenant, récupérez les caractères des indices 2 à 4 ('llo') inclus du string suivant :

In [ ]:
greeting = "Hello World"
greeting[2:5]

'llo'

2.8 Récupérez les éléments aux indices 2 à 4 inclus ["salmon", ..., "blanchedalmond"] de la list suivante:

In [1]:
color_palette = ["mintcream", "burlywood", "salmon", "aliceblue", "blanchedalmond", "cornflowerblue", "lavenderblush"]
color_palette[2 : 5]

['salmon', 'aliceblue', 'blanchedalmond']

# Code debugging

3.1 Dans le code ci-dessous, remplacez "..." par la syntaxe qui convient pour que la phrase s'affiche en sortie:

In [2]:
fruits = ["apple", "banana"]
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

3.2 Dans le code ci-dessous, remplacez "..." par l'opérateur booléen `or` ou `and` qui convient pour que la phrase s'affiche en sortie:

In [5]:
if 12 < 5 or 3 == 3:
  print("Here we go !")

Here we go !

3.3 Modifiez le code ci-dessous pour que la phrase s'affiche.

In [10]:
if "kiwi".startswith("k"):
  print("Of course kiwi starts with a 'k'")

Of course kiwi starts with a 'k'

3.4 Modifiez le code ci-dessous pour que la phrase s'affiche.  
Vous n'avez le droit que de modifier l'emplacement des variables `count_1`, `count_2` et `count_3`.  
Aussi, vous pouvez ajoutez des parenthèses pour créer une exception aux priorités opératoires.

In [22]:
count_1 = 12
count_2 = 4
count_3 = 2
if (count_1 + count_2) / count_3 == 8:
 print("You can call me 'The MasterMath'.")

You can call me 'The MasterMath'.

3.5 Vous allez maintenant vous familiariser avec la division euclidienne.  
Il y a ici deux termes à connaître:
* Le reste
* Le quotient  

Faites vos recherches pour être à l'aise avec ces termes.

Aussi, faites vos recherches pour savoir quel symbole permet d'afficher le reste ou le quotient, en python.  

Une fois que c'est fait, vous pouvez faire l'exercice suivant :  
Parmi ses variables, lesquels ont une valeur divisible par 2, donc un reste égale à 0 ?

Pour répondre, vous allez devoir tester chacune des variable, et remplacer "..." par le symbole qui convient.

In [38]:
count_1 = 3
count_2 = 6
count_3 = 7
count_4 = 14
count_5 = 12

if count_2 % 2 == 0:
  print(f"On s'exerce ici avec la division euclidienne. Le reste de {count_2} divisé par 2 est égale à 0.")

if count_5 % 2 == 0:
  print(f"On s'exerce ici avec la division euclidienne. Le reste de {count_5} divisé par 2 est égale à 0.")

if count_4 % 2 == 0:
  print(f"On s'exerce ici avec la division euclidienne. Le reste de {count_4} divisé par 2 est égale à 0.")

On s'exerce ici avec la division euclidienne. Le reste de 6 divisé par 2 est égale à 0.
On s'exerce ici avec la division euclidienne. Le reste de 12 divisé par 2 est égale à 0.
On s'exerce ici avec la division euclidienne. Le reste de 14 divisé par 2 est égale à 0.

3.6 Cette fois, on veut connaître les variables dont les valeurs ont un quotient supérieur à 5 lorsqu'on divise chaque valeur par 5.

Remplacez "..." par le code qui convient.

In [43]:
count_1 = 34
count_2 = 37
count_3 = 24
count_4 = 29
count_5 = 31

if count_1  // 5 > 5:
  print(f"On s'exerce ici avec la division euclidienne. Le quotient de {count_1} divisé par 5 est égale à {count_1 // 5}.")

if count_2 // 5 > 5:
  print(f"On s'exerce ici avec la division euclidienne. Le quotient de {count_2} divisé par 5 est égale à {count_2 // 5}.")

if count_5 // 5 > 5:
  print(f"On s'exerce ici avec la division euclidienne. Le quotient de {count_5} divisé par 5 est égale à {count_5 // 5}.")

On s'exerce ici avec la division euclidienne. Le quotient de 34 divisé par 5 est égale à 6.
On s'exerce ici avec la division euclidienne. Le quotient de 37 divisé par 5 est égale à 7.
On s'exerce ici avec la division euclidienne. Le quotient de 31 divisé par 5 est égale à 6.